.background_color_1{
    -fx-background-color: #8280ff;
}

.background_color_2{
    -fx-background-color: #b7b2ff;
}

.background_color_3{
    -fx-background-color: #d3d0ff;
}

.text_color{
    -fx-background-color: #f9f9fa;
}

.channel_list{
    -fx-background-color: #b7b2ff;
    -fx-border-color: #d3d0ff;
    -fx-border-width: 2px;
}

.message_commands{
    -fx-background-color: transparent;
    -fx-border-color: #8280ff;
    -fx-border-width: 1px;
}